# Yandex Foundation Models API
YANDEX_API_KEY=
YANDEX_MODEL=
YANDEX_BASE_URL=https://llm.api.cloud.yandex.net/v1
YANDEX_FOLDER_ID=
YANDEX_PROXY_URL=

# Telegram Bot
TELEGRAM_BOT_TOKEN=
OWNER_CHAT_ID=
TELEGRAM_PROXY_URL=

# Настройки
BUFFER_WAIT_SECONDS=20
MAX_HISTORY_MESSAGES=5
DB_PATH=logs/assistant.db
